<div class="grid-x top-bar" id="responsive-menu">
  <div class="cell medium-8 medium-offset-2">
    <div class="grid-x">
      <div class="cell medium-2 menu-text">
        <a href="{% url 'index' %}"><h3>Site Title</h3></a>
      </div>
      <div class="cell medium-7">
        <ul class="menu">
          <li><a href="{% url 'subject_list' %}">Study</a></li>
          <li><a href="{% url 'mcq_subject_list' %}">MCQ</a></li>
          <li><a href="">Model Test</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
      <div class="cell medium-3 top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>